#nav {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: .5rem;
}

#nav > div {
  background: #131213;
  border-radius: .5rem;
}

/* #navIcons {
  grid-row: 1 / 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  justify-content: center;
} */

#navIcons {
  grid-row: 1 / 2;
  padding: 30px 25px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  justify-content: center;
}

/* 
#navIcons i {
  height: 2rem;
  width: 2rem;
} */

#navIcons i:nth-child(1)::after {
  content: 'Início';
}

#navIcons i:nth-child(2)::after {
  content: 'Buscar';
}

#navIcons i::after {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-left: 1rem;
  grid-column: 1 / 2;
}

#playlists {
  grid-row: 2 / 3;
}