/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* html {
  color-scheme: dark light;
} */

body {
  height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Grid Setup */

body {
  display: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 1fr 72px;
  gap: 0.5rem;
  padding: 0.5rem;
  background: #000000;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  color: white;
  font-weight: 400;
}


#main, #nav, #player {
  border-radius: 0.5rem;
  background: #131213;
}


#main {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#nav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#player {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

i {
  color: #B2B2B3;
}