main {
  padding: 20px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    div {
      display: flex;
      gap: .5rem;
      &:nth-child(1) i {
        padding: 16px 10px;
        background-color: rgba(0, 0, 0, 0.489);
        border-radius: 50px;
      }
      &:nth-child(2) i {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.489);
        border-radius: 50px;
      }
    }
  }
  #top-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}